<h1> <%= service_name %> </h1>

<div class="big-column">
	
<%= introductory_paragraph %>

<form>
	<input type="submit" value="<%= start_button_text %>" class="start-button">
</form>

<h2>Other ways to apply</h2>

<%= other_ways_to_apply %>

</div>


